.world-map{
    width: 60%;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    fill: black;
}

.country-card{
    margin-right: 75px;
    width: 375px;
    padding: 25px;
    background-color: black; 
    color: white;
    box-shadow: 0px 4px 8px black;
}

.custom-label{
    color: black;
}
